body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(-45deg, #35b580, #237a56, #0d2b1f, #164732);
  background-size: 400% 400%;
  animation: cyberGradient 15s ease infinite;
  color: #fff;
}

@keyframes cyberGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

